---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ross Wilson</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/research/">Research</a>
		<a href="/teaching/">Teaching</a>

		<h1>Ross Wilson</h1>
		<p>I am a research fellow in the Centre for Musculoskeletal Outcomes Research at the Dunedin School of Medicine, University of Otago.</p>
		<p>My research area is health economics, with a specific focus on the measurement and valuation of health-related quality of life, economic evaluation of healthcare interventions, and simulation modelling of disease epidemiology and treatment to inform health policy.</p>
		<p>Further details on my research interests and publications can be found under the Research tab above.</p>
		<p>I can be reached at ross.wilson@otago.ac.nz</p>
	</body>
</html>
