---
import MainLayout from "../layouts/MainLayout.astro"
import { Content } from '../components/about-me.md'
const title = "Ross Wilson"
---
<MainLayout pageTitle={title}>
    <img src="/profile.jpg" class="m-auto rounded-full mt-10 w-64 h-64">
    <div class="prose prose-lg max-w-screen-lg mx-auto mt-8 text-center text-primary prose-h1:text-primary prose-a:text-primary prose-a:no-underline">
        <h1>{title}</h1>
        <Content />
    </div>
    
</MainLayout>