---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ross Wilson</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/research/">Research</a>
		<a href="/teaching/">Teaching</a>

		<h1>Teaching</h1>

		<p>I convene a weekly <em>Lunch'n'Learn</em> workshop/seminar series for PhD students and early career researchers at CMOR.</p>
		<p>Some of the slide decks and other resources from these workshops are available below (more to be added)</p>

        <h2>Resources</h2>
        <ul>
            <li>Introduction to R and RStudio [presentation slides]</li>
            <ul>
                <li>Sections:<ul>
                    <li>Getting Started</li>
                    <li>Working with Data Frames</li>
                </ul></li>
            </ul>

        </ul>
	</body>
</html>
