---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import ThemeToggle from './ThemeToggle.astro';
---
<header>
  <nav class="container flex h-header items-center">
    <Hamburger />
    <Navigation />
    <ThemeToggle />
  </nav>
</header>