---
---
<div class="nav-links font-medium text-xl ml-4">
    <a href="/" class="px-2">Home</a>
    <a href="/research/" class="px-2">Research</a>
    <a href="/teaching/" class="px-2">Teaching</a>
</div>
