---
import type { NavItem } from "../types"
const navItems: Array<NavItem> = [
    { title: "Home", url : "/" },
    { title: "Research", url: "/research/" },
    { title: "Teaching", url: "/teaching/" },
]
---
<div class="flex items-center gap-6">
    <nav><ul class="flex items-center gap-6">
        {navItems.map(({ title, url }) => (
            <li>
                <a class="text-lg font-bold" href={url}>
                    {title}
                </a>
            </li>
        ))}
    </ul></nav>
</div>
