<!-- ---
import BaseLayout from '../layouts/BaseLayout.astro';
import JournalCitation from '../components/JournalCitation.astro';
const { citation } = Astro.props;
---
<BaseLayout pageTitle={citation.title}>
    <h3>{citation.journal}</h3>
    <h4>Published</h4>
    {citation.date.toLocaleDateString("en-NZ", {day: "numeric", month: "long", year: "numeric"})}
    <h4>Citation</h4>
    <JournalCitation url={`https://doi.org/${citation.doi}`} citation={citation}/>
    <h4>Abstract</h4>
    <slot />
    
</BaseLayout>
 -->
